.all-products-wrapper {
  width: 100%;
  margin-bottom: 140px;
}

.all-products-container {
  max-width: 1170px;
  margin: 0 auto;
}

.all-products-container h1 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.44px;
  color: #000;
  margin-bottom: 60px;
}
