.nav-wrapper {
  width: 100%;
  padding: 40px 0 16px 0;
  border-bottom: 1px solid #d2d2d2;
  position: fixed;
  top: 0;
}

.nav-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left h2 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
  color: #000;
}

.nav-center {
  display: flex;
  gap: 48px;
  padding-right: 21px;
}

.nav-center a {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

.active {
  border-bottom: 1.6px solid #db4444 !important;
  color: #db4444 !important;
}

.nav-right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.search-input {
  position: relative;
}

.search-input input {
  padding: 7px 20px 7px 20px;
  border-radius: 4px;
  background-color: #f5f5f5;
  width: 308px;
  border: none;
}

.search-input input::placeholder {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.search-input input:focus + .search-icon i {
  display: none;
}

.search-icon i {
  position: absolute;
  right: 12px;
  top: 7px;
  font-size: 16px;
  z-index: 10;
}

.cart-icon {
  position: relative;
}

.cart-icon i {
  font-size: 24px;
}

.cart-count {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #db4444;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -6px;
}

.cart-count div {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #fafafa;
}
